<template>
  <div class="container mx-auto flex flex-row justify-center p-16">
    <div class="flex flex-col">
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-primary', textClass: 'text-gray-900' }"
        />
        <color-swatch
          :model="{
            colorClass: 'bg-primary-variant',
            textClass: 'text-gray-900',
          }"
        />
        <color-swatch
          :model="{ colorClass: 'bg-secondary', textClass: 'text-gray-900' }"
        />
        <color-swatch
          :model="{
            colorClass: 'bg-secondary-variant',
            textClass: 'text-gray-900',
          }"
        />
        <color-swatch
          :model="{ colorClass: 'bg-tertiary', textClass: 'text-gray-900' }"
        />
        <color-swatch
          :model="{
            colorClass: 'bg-tertiary-variant',
            textClass: 'text-gray-900',
          }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-gray-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-gray-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-gray-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-gray-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-gray-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-gray-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-gray-600', textClass: 'text-gray-300' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-gray-700', textClass: 'text-gray-300' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-gray-800', textClass: 'text-gray-300' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-gray-900', textClass: 'text-gray-300' }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-red-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-red-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-red-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-red-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-red-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-red-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-red-600', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-red-700', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-red-800', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-red-900', textClass: 'text-gray-200' }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-orange-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-orange-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-orange-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-orange-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-orange-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-orange-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-orange-600', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-orange-700', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-orange-800', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-orange-900', textClass: 'text-gray-200' }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-yellow-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-yellow-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-yellow-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-yellow-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-yellow-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-yellow-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-yellow-600', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-yellow-700', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-yellow-800', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-yellow-900', textClass: 'text-gray-200' }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-lime-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-lime-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-lime-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-lime-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-lime-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-lime-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-lime-600', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-lime-700', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-lime-800', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-lime-900', textClass: 'text-gray-200' }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-green-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-green-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-green-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-green-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-green-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-green-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-green-600', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-green-700', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-green-800', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-green-900', textClass: 'text-gray-200' }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-teal-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-teal-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-teal-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-teal-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-teal-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-teal-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-teal-600', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-teal-700', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-teal-800', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-teal-900', textClass: 'text-gray-200' }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-cyan-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-cyan-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-cyan-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-cyan-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-cyan-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-cyan-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-cyan-600', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-cyan-700', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-cyan-800', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-cyan-900', textClass: 'text-gray-200' }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-blue-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-blue-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-blue-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-blue-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-blue-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-blue-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-blue-600', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-blue-700', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-blue-800', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-blue-900', textClass: 'text-gray-200' }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-purple-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-purple-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-purple-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-purple-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-purple-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-purple-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-purple-600', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-purple-700', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-purple-800', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-purple-900', textClass: 'text-gray-200' }"
        />
      </div>
      <div class="flex flex-row">
        <color-swatch
          :model="{ colorClass: 'bg-pink-50', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-pink-100', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-pink-200', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-pink-300', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-pink-400', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-pink-500', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-pink-600', textClass: 'text-gray-900' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-pink-700', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-pink-800', textClass: 'text-gray-200' }"
        />

        <color-swatch
          :model="{ colorClass: 'bg-pink-900', textClass: 'text-gray-200' }"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ColorSwatch from './ColorSwatch.vue';

export default defineComponent({
  name: 'ColorSystemDemo',
  components: {
    ColorSwatch,
  },
});
</script>
