<template>
  <div
    :class="`${model.colorClass} ${model.textClass} pr-mono-sm flex h-24 w-24 flex-col items-center justify-end p-2`"
  >
    {{ model.colorClass }}
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ColorSwatchModel from '../../../models/Demo/ColorSystem/ColorSwatchModel';

export default defineComponent({
  name: 'ColorSwatch',
  props: {
    model: {
      type: ColorSwatchModel,
      required: true,
    },
  },
});
</script>
