@import 'ImportFonts.css';

$pr-headline-size: 6rem;
$pr-sub-headline-size: 3.2rem;
$pr-title-size: 4rem;
$pr-subtitle-size: 2rem;
$pr-headings-max-size: 2rem;
$pr-headings-min-size: 1.2rem;
$pr-headings-count: 5;
$pr-headings-step: calc(
  ($pr-headings-max-size - $pr-headings-min-size) / $pr-headings-count
);
$pr-heading-weight: 500;
$pr-body-lg-size: 1.1rem;
$pr-body-base-size: 0.9rem;
$pr-body-sm-size: 0.7rem;
$pr-body-xs-size: 0.5rem;

.pr-headline {
  @extend .font-sans;

  font-size: calc($pr-headline-size);
  font-weight: 500;
}

.pr-sub-headline {
  @extend .font-sans;

  font-size: calc($pr-sub-headline-size);
  font-weight: 200;
}

.pr-title {
  @extend .font-sans;

  font-size: calc($pr-title-size);
  font-weight: 500;
}

.pr-subtitle {
  @extend .font-sans;

  font-size: calc($pr-subtitle-size);
  font-weight: 200;
}

.pr-heading-1 {
  @extend .font-sans;

  font-size: calc($pr-headings-max-size);
  font-weight: calc($pr-heading-weight);
}

.pr-heading-2 {
  @extend .font-sans;

  font-size: calc($pr-headings-max-size - $pr-headings-step);
  font-weight: calc($pr-heading-weight);
}

.pr-heading-3 {
  @extend .font-sans;

  font-size: calc($pr-headings-max-size - 2 * $pr-headings-step);
  font-weight: calc($pr-heading-weight);
}

.pr-heading-4 {
  @extend .font-sans;

  font-size: calc($pr-headings-max-size - 3 * $pr-headings-step);
  font-weight: calc($pr-heading-weight);
}

.pr-heading-5 {
  @extend .font-sans;

  font-size: calc($pr-headings-max-size - 4 * $pr-headings-step);
  font-weight: calc($pr-heading-weight);
}

.pr-body-lg {
  @extend .font-sans;

  font-size: calc($pr-body-lg-size);
}

.pr-body-base {
  @extend .font-sans;

  font-size: calc($pr-body-base-size);
}

.pr-body-sm {
  @extend .font-sans;

  font-size: calc($pr-body-sm-size);
}

.pr-body-xs {
  @extend .font-sans;

  font-size: calc($pr-body-xs-size);
}

.pr-mono-lg {
  @extend .font-mono;

  font-size: calc($pr-body-lg-size);
}

.pr-mono-base {
  @extend .font-mono;

  font-size: calc($pr-body-base-size);
}

.pr-mono-sm {
  @extend .font-mono;

  font-size: calc($pr-body-sm-size);
}

.pr-label-lg {
  @extend .font-sans;

  font-size: calc($pr-body-lg-size);
  letter-spacing: 0.03em;
  font-weight: 300;
}

.pr-label-base {
  @extend .font-sans;

  font-size: calc($pr-body-base-size);
  letter-spacing: 0.03em;
  font-weight: 400;
}

.pr-label-sm {
  @extend .font-mono;

  font-size: calc($pr-body-sm-size);
  letter-spacing: 0.03em;
  font-weight: 400;
}

.pr-overline-lg {
  @extend .font-sans;

  font-size: calc($pr-body-base-size);
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.pr-overline-base {
  @extend .font-sans;

  font-size: calc($pr-body-sm-size);
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.pr-overline-sm {
  @extend .font-mono;

  font-size: calc($pr-body-xs-size);
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
