<template>
  <div class="flex items-center space-x-4 p-2">
    <div :class="classesFormatted">{{ model.text }}</div>

    <font-label class="shrink-0" :text="classesFormatted" />
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import FontLabel from './FontLabel.vue';
import FontExampleModel from '../../../models/Demo/Typeface/FontExampleModel';

export default defineComponent({
  name: 'FontExample',
  components: {
    FontLabel,
  },
  props: {
    model: {
      type: FontExampleModel,
      required: true,
    },
  },
  setup(props) {
    return {
      classesFormatted: computed(() => props.model.classes.join(' ')),
    };
  },
});
</script>
