<template>
  <div
    class="pr-mono-sm inline-block break-inside-avoid rounded-md bg-red-100 px-2 pt-1 pb-0.5 text-red-400"
  >
    {{ text }}
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'FontLabel',
  props: {
    text: String,
  },
});
</script>
