<template>
  <div class="pb-[4rem]">
    <div class="pr-body-lg border-b-2 border-b-gray-200 pl-1 text-red-400">
      {{ model.name }}
    </div>
    <font-example v-for="example in model.examples" :model="example" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import FontExampleGroupModel from '../../../models/Demo/Typeface/FontExampleGroupModel';
import FontExample from './FontExample.vue';

export default defineComponent({
  name: 'FontExampleGroup',
  components: {
    FontExample,
  },
  props: {
    model: {
      type: FontExampleGroupModel,
      required: true,
    },
  },
});
</script>
