<template>
  <div class="container mx-auto px-4 pt-8">
    <font-example-group v-for="group in groups" :model="group">
    </font-example-group>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import FontExampleGroup from './FontExampleGroup.vue';
import FontExampleGroupModel from '../../../models/Demo/Typeface/FontExampleGroupModel';
import FontExampleModel from '../../../models/Demo/Typeface/FontExampleModel';

export default defineComponent({
  name: 'TypescaleDemo',
  components: {
    FontExampleGroup,
  },
  setup() {
    const sampleTextShortest = 'Lorem Ipsum';
    const sampleTextShort = 'Lorem ipsum dolor sit amet';
    const sampleTextMedium =
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit';
    const sampleTextLong =
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas sed tempus urna et pharetra pharetra. Sit amet massa vitae tortor condimentum lacinia quis vel. Sit amet justo donec enim diam vulputate ut pharetra sit. Dui faucibus in ornare quam viverra orci sagittis eu. Integer vitae justo eget magna fermentum iaculis eu non diam. Et pharetra pharetra massa massa ultricies. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu. Amet mauris commodo quis imperdiet massa tincidunt. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Elementum nisi quis eleifend quam adipiscing vitae proin. Tellus orci ac auctor augue mauris augue neque. A pellentesque sit amet porttitor eget dolor morbi non arcu. Gravida rutrum quisque non tellus orci ac. Ipsum dolor sit amet consectetur adipiscing. Diam ut venenatis tellus in.';
    const sampleCode = `export default defineComponent({
  name: 'FontExample',
  components: {
    FontLabel,
  },
  props: {
    model: {
      type: FontExampleModel,
      required: true,
    },
  },
  setup(props) {
    return {
      classesFormatted: computed(() => props.model.classes.join(' ')),
    };
  },
});`;

    return {
      groups: [
        new FontExampleGroupModel('Headline', [
          new FontExampleModel(sampleTextShortest, ['pr-headline']),
          new FontExampleModel(sampleTextShort, ['pr-sub-headline']),
        ]),

        new FontExampleGroupModel('Title', [
          new FontExampleModel(sampleTextShortest, ['pr-title']),
          new FontExampleModel(sampleTextShort, ['pr-subtitle']),
        ]),

        new FontExampleGroupModel('Headings', [
          new FontExampleModel(sampleTextMedium, ['pr-heading-1']),
          new FontExampleModel(sampleTextMedium, ['pr-heading-2']),
          new FontExampleModel(sampleTextMedium, ['pr-heading-3']),
          new FontExampleModel(sampleTextMedium, ['pr-heading-4']),
          new FontExampleModel(sampleTextMedium, ['pr-heading-5']),
        ]),

        new FontExampleGroupModel('Body', [
          new FontExampleModel(sampleTextLong, ['pr-body-lg']),
          new FontExampleModel(sampleTextLong, ['pr-body-base']),
          new FontExampleModel(sampleTextLong, ['pr-body-sm']),
          new FontExampleModel(sampleTextLong, ['pr-body-xs']),
        ]),

        new FontExampleGroupModel('Body - italic', [
          new FontExampleModel(sampleTextLong, ['pr-body-lg', 'italic']),
          new FontExampleModel(sampleTextLong, ['pr-body-base', 'italic']),
          new FontExampleModel(sampleTextLong, ['pr-body-sm', 'italic']),
          new FontExampleModel(sampleTextLong, ['pr-body-xs', 'italic']),
        ]),

        new FontExampleGroupModel('Body - bold', [
          new FontExampleModel(sampleTextLong, ['pr-body-lg', 'font-bold']),
          new FontExampleModel(sampleTextLong, ['pr-body-base', 'font-bold']),
          new FontExampleModel(sampleTextLong, ['pr-body-sm', 'font-bold']),
          new FontExampleModel(sampleTextLong, ['pr-body-xs', 'font-bold']),
        ]),

        new FontExampleGroupModel('Body - bold italic', [
          new FontExampleModel(sampleTextLong, [
            'pr-body-lg',
            'italic',
            'font-bold',
          ]),
          new FontExampleModel(sampleTextLong, [
            'pr-body-base',
            'italic',
            'font-bold',
          ]),
          new FontExampleModel(sampleTextLong, [
            'pr-body-sm',
            'italic',
            'font-bold',
          ]),
          new FontExampleModel(sampleTextLong, [
            'pr-body-xs',
            'italic',
            'font-bold',
          ]),
        ]),

        new FontExampleGroupModel('Monospace', [
          new FontExampleModel(sampleCode, ['pr-mono-lg', 'whitespace-pre']),
          new FontExampleModel(sampleCode, ['pr-mono-base', 'whitespace-pre']),
          new FontExampleModel(sampleCode, ['pr-mono-sm', 'whitespace-pre']),
        ]),

        new FontExampleGroupModel('Monospace - italic', [
          new FontExampleModel(sampleCode, [
            'pr-mono-lg',
            'italic',
            'whitespace-pre',
          ]),
          new FontExampleModel(sampleCode, [
            'pr-mono-base',
            'italic',
            'whitespace-pre',
          ]),
          new FontExampleModel(sampleCode, [
            'pr-mono-sm',
            'italic',
            'whitespace-pre',
          ]),
        ]),

        new FontExampleGroupModel('Monospace - bold', [
          new FontExampleModel(sampleCode, [
            'pr-mono-lg',
            'font-bold',
            'whitespace-pre',
          ]),
          new FontExampleModel(sampleCode, [
            'pr-mono-base',
            'font-bold',
            'whitespace-pre',
          ]),
          new FontExampleModel(sampleCode, [
            'pr-mono-sm',
            'font-bold',
            'whitespace-pre',
          ]),
        ]),

        new FontExampleGroupModel('Monospace - bold italic', [
          new FontExampleModel(sampleCode, [
            'pr-mono-lg',
            'italic',
            'font-bold',
            'whitespace-pre',
          ]),
          new FontExampleModel(sampleCode, [
            'pr-mono-base',
            'italic',
            'font-bold',
            'whitespace-pre',
          ]),
          new FontExampleModel(sampleCode, [
            'pr-mono-sm',
            'italic',
            'font-bold',
            'whitespace-pre',
          ]),
        ]),

        new FontExampleGroupModel('Label', [
          new FontExampleModel(sampleTextShortest, ['pr-label-lg']),
          new FontExampleModel(sampleTextShortest, ['pr-label-base']),
          new FontExampleModel(sampleTextShortest, ['pr-label-sm']),
        ]),

        new FontExampleGroupModel('Overline', [
          new FontExampleModel(sampleTextShort, ['pr-overline-lg']),
          new FontExampleModel(sampleTextShort, ['pr-overline-base']),
          new FontExampleModel(sampleTextShort, ['pr-overline-sm']),
        ]),
      ],
    };
  },
});
</script>
