<template>
  <div class="container mx-auto flex flex-col p-16">
    <div class="flex flex-row">
      <div class="flex flex-col">
        <div class="pr-body-base">Rounding</div>

        <div class="h-16 w-16 rounded-md bg-gray-600" />
      </div>
    </div>

    <div class="flex flex-row">
      <div class="flex flex-col">
        <div class="pr-mono-base">$pr-xs</div>

        <div class="h-4 w-2 bg-gray-600" />
      </div>

      <div class="flex flex-col">
        <div class="pr-mono-base">$pr-sm</div>

        <div class="h-8 w-2 bg-gray-600" />
      </div>

      <div class="flex flex-col">
        <div class="pr-mono-base">$pr-md</div>

        <div class="h-16 w-2 bg-gray-600" />
      </div>

      <div class="flex flex-col">
        <div class="pr-mono-base">$pr-lg</div>

        <div class="h-24 w-2 bg-gray-600" />
      </div>
    </div>

    <div class="flex flex-row">
      <div class="flex flex-col">
        <div class="pr-mono-base">pr-elevated</div>

        <div class="h-16 w-16 rounded-md bg-gray-600 shadow-sm" />
      </div>

      <div class="flex flex-col">
        <div class="pr-mono-base">pr-elevated-lg</div>

        <div class="h-16 w-16 rounded-md bg-gray-600 shadow-md" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SpacingsDemo',
});
</script>
